<?xml version="1.0" encoding="UTF-8" ?>
<phpunit>
	<testsuites>
		<testsuite name="TestSuite">
			<directory>LeetCode/</directory>
			<directory>Other/</directory>
		</testsuite>
	</testsuites>
	<php>
		<const name="PHPUNIT_TEST" value="1" />
		<server name="REMOTE_ADDR" value="0.0.0.0" />
	</php>
    <filter>
        <whitelist>
            <directory>LeetCode</directory>
            <directory>Other</directory>
        </whitelist>
    </filter>
</phpunit>
